@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("fonts/font.css");
.phone {
  padding-left: 15%;
  color: #fff; }
  .phone:hover {
    color: #BF2E1B; }

.arrow-down {
  position: absolute;
  z-index: 999;
  bottom: 40px;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%); }
  @media screen and (min-width: 320px) and (max-width: 640px) {
    .arrow-down {
      width: 30px;
      bottom: 10px; } }

.text-color {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase; }
  .text-color:hover {
    color: #FFFFFF; }

@media screen and (min-width: 320px) and (max-width: 640px) {
  .btn_reservar {
    width: 100% !important; } }

.owl-dots {
  top: 20%; }
  .owl-dots .owl-dot.active span {
    background-color: #333333 !important;
    border: none !important; }
  @media screen and (max-width: 640px) and (min-width: 320px) {
    .owl-dots .owl-dot span {
      width: 10px !important;
      height: 10px !important;
      margin: 0px !important; } }
  @media screen and (max-width: 1024px) and (min-width: 320px) {
    .owl-dots {
      display: block !important;
      top: 10%; } }

.barra_menu {
  display: none; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .barra_menu {
      display: block;
      padding: 10px; }
      .barra_menu .nav {
        cursor: pointer;
        position: absolute;
        top: 3%; }
      .barra_menu .logo_movil {
        width: 100%; }
        .barra_menu .logo_movil img {
          width: 50px; } }

.main-navigation_movil {
  opacity: 0;
  visibility: hidden;
  position: fixed; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .main-navigation_movil {
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      z-index: 9999;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      height: auto;
      overflow: hidden;
      top: 0;
      bottom: 0; }
      .main-navigation_movil .menu {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 70%; }
        .main-navigation_movil .menu li {
          display: block;
          text-align: center;
          padding: 10px;
          position: relative; }
          .main-navigation_movil .menu li a {
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            font-family: 'gotham_htfbook';
            font-size: 20px; }
          .main-navigation_movil .menu li ul {
            margin-left: 0px;
            display: none; }
            .main-navigation_movil .menu li ul li {
              padding: 0px !important; }
              .main-navigation_movil .menu li ul li a {
                text-align: center;
                font-family: 'gotham_htflight';
                font-size: 14px; }
            .main-navigation_movil .menu li ul.mostrar {
              display: block; } }
  .main-navigation_movil .close_menu {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }

.main-navigation {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: white;
  height: 90px;
  display: block; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .main-navigation {
      display: none; } }
  .main-navigation .menu {
    margin-left: 0px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 70%; }
    @media screen and (min-width: 658px) and (max-width: 1008px) {
      .main-navigation .menu {
        width: 100%;
        margin-left: 0px; } }
    .main-navigation .menu li {
      position: relative;
      display: inline-block; }
      .main-navigation .menu li a {
        color: #999999;
        font-size: 16px;
        font-family: 'gotham_htflight';
        text-transform: uppercase; }
        @media screen and (min-width: 777px) and (max-width: 1111px) {
          .main-navigation .menu li a {
            padding: 10px 10px; } }
        @media screen and (min-width: 657px) and (max-width: 776px) {
          .main-navigation .menu li a {
            padding: 7px 7px; } }
      .main-navigation .menu li ul {
        display: none; }
      .main-navigation .menu li:hover ul {
        display: block;
        position: absolute;
        z-index: 999;
        background-color: #fff;
        width: 100%;
        margin-left: 0px; }
        .main-navigation .menu li:hover ul li {
          text-align: center;
          display: block;
          border-bottom: 1px solid #CCCCCC;
          background-color: #ffffff !important;
          padding: 5px; }
          .main-navigation .menu li:hover ul li a {
            color: #999999;
            font-size: 16px;
            font-family: 'gotham_htflight';
            text-transform: uppercase; }
          .main-navigation .menu li:hover ul li:hover a {
            color: #BF2E1B; }
        .main-navigation .menu li:hover ul li:nth-of-type(3) {
          background-color: #FFFFFF;
          background-image: inherit;
          height: auto;
          overflow: hidden; }
          .main-navigation .menu li:hover ul li:nth-of-type(3) a {
            color: #999999; }
      .main-navigation .menu li.current-menu-item {
        border-bottom: 2px solid #BF2E1B; }
      .main-navigation .menu li:hover a {
        color: #BF2E1B; }
    .main-navigation .menu li:nth-of-type(4) {
      background-image: url("img/logo.png");
      background-size: 80%;
      background-position: center center;
      background-repeat: no-repeat;
      height: 90px;
      border: none; }
      .main-navigation .menu li:nth-of-type(4) a {
        color: transparent;
        height: 100px; }

.site-content {
  padding-right: 0px !important;
  padding-left: 0px !important; }
  .site-content .home .portada {
    height: 100vh;
    position: relative;
    background-image: url("img/haciendapalacio.jpg");
    background-size: cover;
    background-position: top center; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .home .portada {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%;
        margin-top: 0px; } }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .home .portada {
        margin-top: 0px !important; } }
    .site-content .home .portada .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .home .portada .center {
      background: rgba(60, 60, 60, 0.6);
      padding: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .site-content .home .portada .center h2 {
        text-align: center;
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        line-height: 45px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .portada .center h2 {
            line-height: 20px; } }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .home .portada .center h2 {
            font-size: 30px;
            line-height: 25px; } }
      .site-content .home .portada .center .contenido {
        margin-top: 20px; }
        .site-content .home .portada .center .contenido p {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          color: #ffffff;
          font-size: 18px; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .portada .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%;
          height: auto;
          overflow: hidden;
          padding-left: 10%;
          padding-right: 10%;
          margin-top: 40px; } }
  .site-content .home .historia {
    background-image: url("img/restaurante.jpg");
    background-size: cover;
    background-position: center center;
    height: auto;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .home .historia {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .home .historia {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    .site-content .home .historia .center {
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 8%;
      padding-right: 8%; }
      .site-content .home .historia .center .contenido_historia {
        background: rgba(60, 60, 60, 0.6);
        padding: 30px; }
        .site-content .home .historia .center .contenido_historia h2 {
          text-align: center;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .home .historia .center .contenido_historia h2 {
              line-height: 20px; } }
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            .site-content .home .historia .center .contenido_historia h2 {
              font-size: 30px;
              line-height: 25px; } }
        .site-content .home .historia .center .contenido_historia .contenido {
          margin-top: 20px; }
          .site-content .home .historia .center .contenido_historia .contenido p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: italic;
            color: #ffffff;
            font-size: 18px; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .home .historia .center .contenido_historia {
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            width: 100%;
            height: auto;
            overflow: hidden;
            padding-left: 10%;
            padding-right: 10%;
            margin-top: 40px; } }
  .site-content .home .restaurante {
    background-image: url("img/restaurante.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .home .restaurante {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .home .restaurante {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    .site-content .home .restaurante .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .home .restaurante .contenido {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      background: rgba(60, 60, 60, 0.6);
      padding: 30px; }
      @media screen and (max-height: 700px) {
        .site-content .home .restaurante .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0); } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .restaurante .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
          padding-left: 10%;
          padding-right: 10%; } }
      .site-content .home .restaurante .contenido .titulo {
        text-align: left;
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        line-height: 45px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .home .restaurante .contenido .titulo {
            padding-left: 0;
            padding-right: 0; } }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .home .restaurante .contenido .titulo {
            font-size: 30px; } }
      .site-content .home .restaurante .contenido p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #ffffff;
        font-size: 18px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .home .restaurante .contenido p {
            padding-left: 0;
            padding-right: 0; } }
      .site-content .home .restaurante .contenido .btn_reservar {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid #fff;
        margin: 0 auto;
        text-align: center;
        width: 70%; }
        .site-content .home .restaurante .contenido .btn_reservar a {
          color: #fff;
          font-size: 24px;
          text-transform: uppercase; }
        .site-content .home .restaurante .contenido .btn_reservar .arrow-right {
          width: 30px;
          float: right;
          margin-top: 10px; }
  .site-content .home .organiza {
    background-image: url("img/boda.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .home .organiza {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .home .organiza {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    .site-content .home .organiza .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .home .organiza .contenido {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      background: rgba(60, 60, 60, 0.6);
      padding: 30px; }
      @media screen and (max-height: 700px) {
        .site-content .home .organiza .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0); } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .organiza .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
          padding-left: 10%;
          padding-right: 10%; } }
      .site-content .home .organiza .contenido .titulo {
        text-align: left;
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        line-height: 45px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .home .organiza .contenido .titulo {
            padding-left: 0;
            padding-right: 0; } }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .home .organiza .contenido .titulo {
            font-size: 30px; } }
      .site-content .home .organiza .contenido p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #ffffff;
        font-size: 18px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .home .organiza .contenido p {
            padding-left: 0;
            padding-right: 0; } }
      .site-content .home .organiza .contenido .btn_reservar {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid #fff;
        margin: 0 auto;
        text-align: center;
        width: 70%; }
        .site-content .home .organiza .contenido .btn_reservar a {
          color: #fff;
          font-size: 24px;
          text-transform: uppercase; }
        .site-content .home .organiza .contenido .btn_reservar .arrow-right {
          width: 30px;
          float: right;
          margin-top: 10px; }
  .site-content .home .contacto {
    background-image: url("img/contacto.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .home .contacto {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .home .contacto {
        height: auto;
        overflow: hidden;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%; } }
    .site-content .home .contacto .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .home .contacto .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 40%; }
      @media screen and (max-height: 700px) {
        .site-content .home .contacto .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .contacto .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .site-content .home .contacto .center .titulo {
        text-align: center;
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        line-height: 45px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .home .contacto .center .titulo {
            font-size: 30px; } }
      .site-content .home .contacto .center .form_contacto {
        margin-top: 20px; }
        .site-content .home .contacto .center .form_contacto p {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase; }
          .site-content .home .contacto .center .form_contacto p.last {
            text-align: center;
            margin-top: 30px; }
          .site-content .home .contacto .center .form_contacto p input {
            background: rgba(255, 255, 255, 0.7);
            border: none; }
          .site-content .home .contacto .center .form_contacto p textarea {
            background: rgba(255, 255, 255, 0.7);
            border: none; }
        .site-content .home .contacto .center .form_contacto .wpcf7-submit {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 30%;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          background-color: transparent; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .home .contacto .center .form_contacto .wpcf7-submit {
              width: 100%; } }
  .site-content .restaurante_template .portada {
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .restaurante_template .portada {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0px; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .restaurante_template .portada {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0px; } }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .restaurante_template .portada {
        margin-top: 0px !important; } }
    .site-content .restaurante_template .portada .slider_item {
      height: 100vh;
      position: absolute;
      width: 100%;
      background-position: center center;
      background-size: cover;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .site-content .restaurante_template .portada .slider_item.slider_item_show {
        opacity: 1;
        visibility: visible; }
    .site-content .restaurante_template .portada .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .restaurante_template .portada .contenido {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      @media screen and (max-height: 700px) {
        .site-content .restaurante_template .portada .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden; } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .restaurante_template .portada .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px; } }
      .site-content .restaurante_template .portada .contenido .descripcion_page {
        background: rgba(60, 60, 60, 0.6);
        padding: 30px; }
        .site-content .restaurante_template .portada .contenido .descripcion_page .titulo {
          text-align: left;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%; }
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            .site-content .restaurante_template .portada .contenido .descripcion_page .titulo {
              font-size: 30px; } }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .restaurante_template .portada .contenido .descripcion_page .titulo {
              padding-left: 0px !important;
              padding-right: 0px !important;
              text-align: center; } }
        .site-content .restaurante_template .portada .contenido .descripcion_page p {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          color: #ffffff;
          font-size: 18px;
          padding-left: 15%;
          padding-right: 15%; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .restaurante_template .portada .contenido .descripcion_page p {
              padding-left: 0;
              padding-right: 0; } }
        .site-content .restaurante_template .portada .contenido .descripcion_page .btn_reservar {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 70%; }
          .site-content .restaurante_template .portada .contenido .descripcion_page .btn_reservar a {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase; }
          .site-content .restaurante_template .portada .contenido .descripcion_page .btn_reservar .arrow-right {
            width: 30px;
            float: right;
            margin-top: 10px; }
    .site-content .restaurante_template .portada .arrow-down {
      position: absolute;
      z-index: 9999;
      bottom: 40px;
      width: 40px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .restaurante_template .portada .arrow-down {
          display: none; } }
  .site-content .restaurante_template .menu {
    height: auto;
    position: relative;
    background-color: #ffffff;
    padding: 5%; }
    @media screen and (max-height: 700px) {
      .site-content .restaurante_template .menu {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 20%;
        padding-left: 20%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .restaurante_template .menu {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 0;
        padding-left: 0; } }
    .site-content .restaurante_template .menu .center {
      height: auto;
      overflow: hidden;
      max-width: 65rem; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .restaurante_template .menu .center {
          height: auto;
          overflow: hidden;
          padding-right: 10%;
          padding-left: 10%;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .site-content .restaurante_template .menu .center .titulo {
        text-align: center;
        color: #000;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook'; }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .restaurante_template .menu .center .titulo {
            font-size: 30px; } }
      .site-content .restaurante_template .menu .center .listado_platillo {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px; }
        .site-content .restaurante_template .menu .center .listado_platillo .img_platillo {
          padding-right: 0px;
          padding-left: 0px; }
          .site-content .restaurante_template .menu .center .listado_platillo .img_platillo img {
            border-radius: 50%;
            width: 100px;
            height: 100px; }
        .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .name_categoria {
          font-family: 'gotham_htfbook';
          color: #666666;
          margin-bottom: 0px;
          font-size: 20px;
          text-transform: uppercase;
          border-bottom: 1px solid #666666;
          margin-top: 20px;
          cursor: pointer; }
        .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .vacio {
          font-family: 'gotham_htfbook';
          color: #666666;
          margin-bottom: 0px;
          font-size: 12px;
          text-transform: uppercase;
          margin-top: 20px;
          text-align: center; }
        .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .more {
          color: #BF2E1B;
          margin-left: 5px; }
        .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .platillos {
          margin-top: 20px; }
          .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .platillos ul {
            -webkit-column-count: 2;
            /* Chrome, Safari, Opera */
            -moz-column-count: 2;
            /* Firefox */
            column-count: 2;
            -webkit-column-gap: 10px;
            /* Chrome, Safari, Opera */
            -moz-column-gap: 10px;
            /* Firefox */
            column-gap: 10px; }
            @media screen and (min-width: 320px) and (max-width: 640px) {
              .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .platillos ul {
                -webkit-column-count: 1;
                /* Chrome, Safari, Opera */
                -moz-column-count: 1;
                /* Firefox */
                column-count: 1;
                -webkit-column-gap: 10px;
                /* Chrome, Safari, Opera */
                -moz-column-gap: 10px;
                /* Firefox */
                column-gap: 10px; } }
            .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .platillos ul li {
              list-style: none;
              padding-top: 10px;
              padding-bottom: 10px;
              cursor: pointer; }
              .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .platillos ul li span {
                font-family: 'gotham_htfbook';
                color: #666666;
                margin-bottom: 0px;
                font-size: 12px;
                text-transform: uppercase;
                margin-top: 20px;
                margin-left: 10px; }
              .site-content .restaurante_template .menu .center .listado_platillo .titulo_platillo .platillos ul li img {
                border-radius: 50%;
                width: 50px;
                height: 50px; }
  .site-content .restaurante_template .galeria {
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: scroll; }
    .site-content .restaurante_template .galeria .titulo {
      text-align: center;
      color: #000;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-family: 'gotham_htfbook';
      margin-bottom: 50px; }
      @media screen and (min-width: 640px) and (max-width: 1000px) {
        .site-content .restaurante_template .galeria .titulo {
          font-size: 30px;
          margin-bottom: 20px; } }
    .site-content .restaurante_template .galeria .itemgal {
      margin-bottom: 30px;
      cursor: pointer; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .restaurante_template .galeria .itemgal {
          margin-bottom: 15px; } }
  .site-content .restaurante_template .contacto {
    background-image: url("img/contactorestaurante.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .restaurante_template .contacto {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 20%;
        padding-left: 20%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .restaurante_template .contacto {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%; } }
    .site-content .restaurante_template .contacto .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .restaurante_template .contacto .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 40%; }
      @media screen and (max-height: 700px) {
        .site-content .restaurante_template .contacto .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .restaurante_template .contacto .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .site-content .restaurante_template .contacto .center .titulo {
        text-align: center;
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        line-height: 45px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .restaurante_template .contacto .center .titulo {
            font-size: 30px; } }
      .site-content .restaurante_template .contacto .center .form_contacto {
        margin-top: 20px; }
        .site-content .restaurante_template .contacto .center .form_contacto p {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase; }
          .site-content .restaurante_template .contacto .center .form_contacto p.last {
            text-align: center;
            margin-top: 30px; }
          .site-content .restaurante_template .contacto .center .form_contacto p input {
            background: rgba(255, 255, 255, 0.7);
            border: none; }
          .site-content .restaurante_template .contacto .center .form_contacto p textarea {
            background: rgba(255, 255, 255, 0.7);
            border: none; }
        .site-content .restaurante_template .contacto .center .form_contacto .wpcf7-submit {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 30%;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          background-color: transparent; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .restaurante_template .contacto .center .form_contacto .wpcf7-submit {
              width: 100%; } }
  .site-content .evento .portada {
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .evento .portada {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0px; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .evento .portada {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0%; } }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .evento .portada {
        margin-top: 0px !important; } }
    .site-content .evento .portada .slider_item {
      height: 100vh;
      position: absolute;
      width: 100%;
      background-position: center center;
      background-size: cover;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .site-content .evento .portada .slider_item.slider_item_show {
        opacity: 1;
        visibility: visible; }
    .site-content .evento .portada .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .evento .portada .contenido {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      @media screen and (max-height: 700px) {
        .site-content .evento .portada .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px; } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .evento .portada .contenido {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px; } }
      .site-content .evento .portada .contenido .descripcion_page {
        background: rgba(60, 60, 60, 0.6);
        padding: 30px; }
        .site-content .evento .portada .contenido .descripcion_page .titulo {
          text-align: left;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .evento .portada .contenido .descripcion_page .titulo {
              padding-left: 0px;
              padding-right: 0px;
              font-size: 30px;
              text-align: center; } }
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            .site-content .evento .portada .contenido .descripcion_page .titulo {
              font-size: 30px;
              text-align: center;
              padding-left: 0px;
              padding-right: 0px; } }
        .site-content .evento .portada .contenido .descripcion_page p {
          font-family: 'Lato', sans-serif;
          font-weight: 300px;
          font-style: italic;
          color: #ffffff;
          font-size: 18px;
          padding-left: 15%;
          padding-right: 15%; }
          @media screen and (min-width: 320px) and (max-width: 640px) {
            .site-content .evento .portada .contenido .descripcion_page p {
              padding-left: 0px;
              padding-right: 0px; } }
        .site-content .evento .portada .contenido .descripcion_page .btn_reservar {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 70%; }
          .site-content .evento .portada .contenido .descripcion_page .btn_reservar a {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase; }
          .site-content .evento .portada .contenido .descripcion_page .btn_reservar .arrow-right {
            width: 30px;
            float: right;
            margin-top: 10px; }
    .site-content .evento .portada .arrow-down {
      position: absolute;
      z-index: 9999;
      bottom: 40px;
      width: 40px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .evento .portada .arrow-down {
          display: none; } }
  .site-content .evento .tipo_eventos {
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .evento .tipo_eventos {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .evento .tipo_eventos {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%; } }
    .site-content .evento .tipo_eventos .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%; }
      @media screen and (max-height: 700px) {
        .site-content .evento .tipo_eventos .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%;
          height: auto;
          overflow: hidden; } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .evento .tipo_eventos .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%;
          height: auto;
          overflow: hidden;
          padding-left: 10%;
          padding-right: 10%; } }
      .site-content .evento .tipo_eventos .center .titulo {
        text-align: center;
        color: #000;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        margin-bottom: 60px; }
      .site-content .evento .tipo_eventos .center .listado_eventos {
        padding-bottom: 40px;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        height: 250px; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .evento .tipo_eventos .center .listado_eventos {
            height: auto; } }
        .site-content .evento .tipo_eventos .center .listado_eventos img {
          border-radius: 50%;
          width: 150px;
          max-width: 110px;
          min-width: 110px;
          height: 150px;
          max-height: 110px;
          min-height: 110px; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .evento .tipo_eventos .center .listado_eventos img {
              margin-bottom: 30px; } }
        .site-content .evento .tipo_eventos .center .listado_eventos .contenido_tipo {
          margin-bottom: 0px;
          padding-left: 0px !important;
          padding-right: 0px !important; }
          .site-content .evento .tipo_eventos .center .listado_eventos .contenido_tipo h4 {
            font-family: 'gotham_htfbook';
            color: #666666;
            text-transform: uppercase;
            border-bottom: 1px solid #666666; }
            @media screen and (min-width: 640px) and (max-width: 1024px) {
              .site-content .evento .tipo_eventos .center .listado_eventos .contenido_tipo h4 {
                text-align: center;
                font-size: 18px; } }
          .site-content .evento .tipo_eventos .center .listado_eventos .contenido_tipo p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: italic;
            color: #808080; }
  .site-content .evento .galeria {
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: scroll; }
    .site-content .evento .galeria .titulo {
      text-align: center;
      color: #000;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-family: 'gotham_htfbook';
      margin-bottom: 50px; }
      @media screen and (min-width: 640px) and (max-width: 1000px) {
        .site-content .evento .galeria .titulo {
          font-size: 30px;
          margin-bottom: 20px; } }
    .site-content .evento .galeria .itemgal {
      margin-bottom: 30px;
      cursor: pointer; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .evento .galeria .itemgal {
          margin-bottom: 15px; } }
  .site-content .evento .salones {
    height: 100vh;
    overflow: hidden;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .evento .salones {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%; } }
    .site-content .evento .salones .titulo_seccion {
      position: absolute;
      z-index: 999;
      text-align: center;
      width: 100%;
      top: 10%;
      color: #fff;
      text-transform: uppercase;
      font-family: 'gotham_htfbook'; }
      @media screen and (min-width: 640px) and (max-width: 1000px) {
        .site-content .evento .salones .titulo_seccion {
          font-size: 30px; } }
    .site-content .evento .salones .salon {
      height: 100vh;
      background-size: cover;
      background-position: center center; }
      .site-content .evento .salones .salon .overlay {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(60, 60, 60, 0);
        z-index: 999; }
      .site-content .evento .salones .salon .contenido_salon {
        position: absolute;
        bottom: 70px;
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        border: 1px solid #fff;
        z-index: 9999;
        background: rgba(60, 60, 60, 0.6); }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .evento .salones .salon .contenido_salon {
            width: 90%; } }
        .site-content .evento .salones .salon .contenido_salon h3 {
          color: #FFFFFF;
          font-family: 'gotham_htfbook'; }
        .site-content .evento .salones .salon .contenido_salon p {
          color: #FFFFFF;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 20px; }
  .site-content .evento .habitaciones .texto_hospedaje {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%; }
    .site-content .evento .habitaciones .texto_hospedaje h1 {
      font-family: 'gotham_htfbook';
      padding-bottom: 10px;
      border-bottom: 1px solid #999999;
      text-transform: uppercase; }
    .site-content .evento .habitaciones .texto_hospedaje p {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-style: italic;
      color: #808080;
      margin-top: 40px; }
  .site-content .evento .habitaciones .alcobas {
    position: relative; }
    .site-content .evento .habitaciones .alcobas .titulo_seccion {
      position: absolute;
      z-index: 999;
      text-align: center;
      width: 100%;
      top: 10%;
      color: #fff;
      text-transform: uppercase;
      font-family: 'gotham_htfbook'; }
      @media screen and (min-width: 640px) and (max-width: 1000px) {
        .site-content .evento .habitaciones .alcobas .titulo_seccion {
          font-size: 30px;
          top: 5%; } }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .evento .habitaciones .alcobas .titulo_seccion {
          top: 5%; } }
    .site-content .evento .habitaciones .alcobas .salon {
      height: 100vh;
      background-size: cover;
      background-position: center center; }
      .site-content .evento .habitaciones .alcobas .salon .overlay {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(60, 60, 60, 0);
        z-index: 999; }
      .site-content .evento .habitaciones .alcobas .salon .contenido_salon {
        position: absolute;
        bottom: 70px;
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        border: 1px solid #fff;
        z-index: 9999;
        background: rgba(60, 60, 60, 0.6); }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .evento .habitaciones .alcobas .salon .contenido_salon {
            width: 90%; } }
        .site-content .evento .habitaciones .alcobas .salon .contenido_salon h3 {
          color: #FFFFFF;
          font-family: 'gotham_htfbook'; }
        .site-content .evento .habitaciones .alcobas .salon .contenido_salon p {
          color: #FFFFFF;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 20px; }
  .site-content .evento .contacto {
    background-image: url("img/contactoevento.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative; }
    @media screen and (max-height: 700px) {
      .site-content .evento .contacto {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 20%;
        padding-left: 20%; } }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .site-content .evento .contacto {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%; } }
    .site-content .evento .contacto .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(60, 60, 60, 0); }
    .site-content .evento .contacto .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 40%; }
      @media screen and (max-height: 700px) {
        .site-content .evento .contacto .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .evento .contacto .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .site-content .evento .contacto .center .titulo {
        text-align: center;
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        line-height: 45px;
        padding-left: 15%;
        padding-right: 15%; }
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          .site-content .evento .contacto .center .titulo {
            font-size: 30px; } }
      .site-content .evento .contacto .center .form_contacto {
        margin-top: 20px; }
        .site-content .evento .contacto .center .form_contacto p {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase; }
          .site-content .evento .contacto .center .form_contacto p.last {
            text-align: center;
            margin-top: 30px; }
          .site-content .evento .contacto .center .form_contacto p input {
            background: rgba(255, 255, 255, 0.7);
            border: none; }
          .site-content .evento .contacto .center .form_contacto p textarea {
            background: rgba(255, 255, 255, 0.7);
            border: none; }
        .site-content .evento .contacto .center .form_contacto .wpcf7-submit {
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 30%;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          background-color: transparent; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .evento .contacto .center .form_contacto .wpcf7-submit {
              width: 100%; } }
  .site-content .blog {
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 6%; }
    @media screen and (min-width: 320px) and (max-width: 800px) {
      .site-content .blog {
        padding-left: 0px;
        padding-right: 0px; } }
    .site-content .blog .titulo_blog {
      font-family: 'gotham_htfbook';
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      margin-top: 3%; }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .blog .titulo_blog {
          margin-top: 5%; } }
    .site-content .blog .divisor {
      position: absolute;
      background-color: #999999;
      height: 1px;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
    .site-content .blog .articulos {
      margin-top: 7%;
      height: auto;
      overflow: hidden; }
      .site-content .blog .articulos .item_blog {
        margin-bottom: 40px; }
        .site-content .blog .articulos .item_blog .img_articulo {
          width: 200px;
          height: 200px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 20px; }
        .site-content .blog .articulos .item_blog .titulo_articulo {
          font-family: 'gotham_htfbook';
          color: #999999;
          text-transform: uppercase;
          border-bottom: 1px solid #999999;
          margin-left: 10%;
          margin-right: 10%; }
        .site-content .blog .articulos .item_blog p {
          color: #808080;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          padding-left: 10%;
          padding-right: 10%; }
    .site-content .blog .paginav .info_page {
      color: #666666;
      font-family: 'gotham_htfbook'; }
    .site-content .blog .paginav .number_page {
      padding-left: 15px;
      display: inline; }
      .site-content .blog .paginav .number_page .page-numbers {
        color: #666666;
        font-family: 'Lato', sans-serif;
        font-weight: 100; }
        .site-content .blog .paginav .number_page .page-numbers.current {
          color: #BF2E1B; }
        .site-content .blog .paginav .number_page .page-numbers.next {
          color: #999999; }
        .site-content .blog .paginav .number_page .page-numbers.prev {
          color: #999999; }
  .site-content .ubicacion {
    height: 100vh; }
  .site-content .infocontacto {
    position: absolute;
    bottom: 0px;
    top: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    padding: 2%;
    color: #FFFFFF;
    width: 30%; }
    .site-content .infocontacto .contenedor_info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      .site-content .infocontacto .contenedor_info h4 {
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook'; }
      .site-content .infocontacto .contenedor_info p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0px; }
  .site-content .confirm_suscripcion {
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 6%; }
    .site-content .confirm_suscripcion .titulo_confirmar {
      margin-top: 3%;
      color: #333333;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-family: 'gotham_htfbook';
      line-height: 45px;
      padding-left: 15%;
      padding-right: 15%;
      text-align: center; }
    .site-content .confirm_suscripcion p {
      font-family: 'gotham_htfbook';
      color: #808080;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.detalle_articulo {
  height: auto;
  position: relative;
  overflow: hidden;
  margin-top: 6%;
  margin-bottom: 6%; }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .detalle_articulo {
      margin-top: 0px; } }
  .detalle_articulo .img_detalle_articulo {
    height: 500px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative; }
    .detalle_articulo .img_detalle_articulo .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.3); }
  .detalle_articulo .contenido_post {
    padding-left: 5%;
    padding-right: 5%; }
    .detalle_articulo .contenido_post .entry-title {
      font-family: 'gotham_htfbook';
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      margin-top: 30px; }
    .detalle_articulo .contenido_post .entry-meta {
      color: #666666;
      text-align: center; }
    .detalle_articulo .contenido_post .entry-content {
      margin-top: 30px; }
      .detalle_articulo .contenido_post .entry-content p {
        color: #808080;
        font-family: 'Lato', sans-serif;
        font-weight: 100; }
      .detalle_articulo .contenido_post .entry-content .sd-content {
        text-align: center; }
        .detalle_articulo .contenido_post .entry-content .sd-content ul li {
          padding: 15px !important; }
          .detalle_articulo .contenido_post .entry-content .sd-content ul li a:before {
            font-size: 24px; }
  .detalle_articulo .titulo_relacionado {
    padding-top: 5%;
    color: #666666;
    font-family: 'gotham_htfbook';
    text-transform: uppercase; }
  .detalle_articulo .divisor {
    position: absolute;
    background-color: #999999;
    height: 1px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  .detalle_articulo .relacionados {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%; }
    @media screen and (min-width: 320px) and (max-width: 800px) {
      .detalle_articulo .relacionados {
        padding-left: 5%;
        padding-right: 5%; } }
    .detalle_articulo .relacionados .img_relacionado {
      width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 20px; }
    .detalle_articulo .relacionados .titulo_itemrelacionado {
      font-family: 'gotham_htfbook';
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      margin-top: 30px; }
    .detalle_articulo .relacionados p {
      color: #808080;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-style: italic;
      padding-left: 20%;
      padding-right: 20%;
      text-align: center; }

.suscribete {
  height: auto;
  position: relative;
  overflow: hidden;
  background-image: url("img/imagen-suscribete.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5%; }
  .suscribete .form {
    width: 40%;
    margin: 0 auto; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .suscribete .form {
        width: 100%; } }
    .suscribete .form h1 {
      color: #FFFFFF;
      font-family: 'gotham_htfbook';
      text-transform: uppercase;
      text-align: center; }
    .suscribete .form label {
      color: #FFFFFF;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase; }
    .suscribete .form .wysija-submit {
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 5px;
      margin: 0 auto;
      font-size: 20px; }
    .suscribete .form .mensaje_suscribers {
      text-align: center;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px; }

.modal_img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 99999;
  position: fixed !important;
  display: none;
  padding: 3%; }
  @media screen and (min-width: 320px) and (max-width: 640px) {
    .modal_img {
      width: 90%;
      padding: 5%; } }
  .modal_img .closemodalimgplatillo {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px; }
    .modal_img .closemodalimgplatillo:hover {
      color: #BF2E1B; }
  .modal_img .prev {
    position: absolute;
    left: 0px; }
  .modal_img .next {
    position: absolute;
    right: 0px; }

.overlaytotal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none; }

.site-footer {
  padding: 10px; }
  .site-footer .copy p {
    margin-bottom: 0px;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 10px; }
  .site-footer .redes ul {
    float: right;
    margin-bottom: 0px; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-footer .redes ul {
        width: 100%;
        text-align: center; } }
    .site-footer .redes ul li {
      display: inline-block; }
      .site-footer .redes ul li div {
        color: #BF2E1B; }
