@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin nocenter(){
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@mixin overlay(){
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 60, 0);
}

.phone{
  padding-left: 15%;
  color: #fff;
  &:hover{
    color: #BF2E1B;
  }
}

.arrow-down {
  position: absolute;
  z-index: 999;
  bottom: 40px;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  @media screen and (min-width: 320px) and (max-width: 640px) {
    width: 30px;
    bottom: 10px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('fonts/font.css');

.text-color{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  &:hover{
    color: #FFFFFF;
  }
}

.btn_reservar{
  @media screen and (min-width: 320px) and (max-width: 640px) {
    width: 100% !important;

  }
}

.owl-dots{
  top: 20%;
  .owl-dot{
    &.active{
      span{
        background-color: #333333 !important;
        border: none !important;
      }
    }
    span{
      @media screen and (max-width: 640px) and (min-width: 320px){
        width: 10px !important;
        height: 10px !important;
        margin: 0px !important;
      }
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 320px){
    display: block !important;
    top: 10%;
  }
}

.barra_menu{
  display: none;
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    display: block;
    padding: 10px;
    .nav{
      cursor: pointer;
      position: absolute;
      top: 3%;
    }
    .logo_movil{
      width: 100%;
      img{
        width: 50px;
      }
    }
  }
}

.main-navigation_movil{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  @media screen and (min-width: 320px) and (max-width: 1024px) {

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    z-index: 9999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    overflow: hidden;
    top: 0;
    bottom: 0;
    .menu{
      @include center();
      width: 70%;
      li{
        display: block;
        text-align: center;
        padding: 10px;
        position: relative;
        a{
          text-align: center;
          color: #FFFFFF;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          font-size: 20px;
        }
        ul{
          margin-left: 0px;
          display: none;
          li{
            padding: 0px !important;
            a{
              text-align: center;
              font-family: 'gotham_htflight';
              font-size: 14px;
            }
          }
          &.mostrar{
            display: block;
          }
        }
      }
    }
  }
  .close_menu{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

}

.main-navigation{
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  height: 90px;
  display: block;
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    display: none;
  }
  .menu{
    margin-left: 0px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 70%;
    @media screen and (min-width: 658px) and (max-width: 1008px) {
      width: 100%;
      margin-left: 0px;
    }
    li{
      position: relative;
      display: inline-block;
      a{
        color: #999999;
        font-size: 16px;
        font-family: 'gotham_htflight';
        text-transform: uppercase;
        @media screen and (min-width: 777px) and (max-width: 1111px) {
          padding: 10px 10px;
        }
        @media screen and (min-width: 657px) and (max-width: 776px) {
          padding: 7px 7px;
        }
      }
      ul{
        display: none;
      }
      &:hover{
        ul{
          display: block;
          position: absolute;
          z-index: 999;
          background-color: #fff;
          width: 100%;
          margin-left: 0px;
          li{
            text-align: center;
            display: block;
            border-bottom: 1px solid #CCCCCC;
            background-color: #ffffff !important;
            padding: 5px;
            a{
              color: #999999;
              font-size: 16px;
              font-family: 'gotham_htflight';
              text-transform: uppercase;
            }
            &:hover{
              a{
                color: #BF2E1B;
              }
            }
          }
          li:nth-of-type(3) {
            background-color: #FFFFFF;
            background-image: inherit;
            height: auto;
            overflow: hidden;
            a{
              color: #999999;
            }
          }
        }
      }
      &.current-menu-item{
        border-bottom: 2px solid #BF2E1B;
      }
      &:hover{
        a{
          color: #BF2E1B;
        }
      }
    }
    li:nth-of-type(4) {
      background-image: url("img/logo.png");
      background-size: 80%;
      background-position: center center;
      background-repeat: no-repeat;
      height: 90px;
      border: none;
      a{
        color: transparent;
        height: 100px;
      }
    }
  }
}

.site-content{
  padding-right: 0px !important;
  padding-left: 0px !important;
  .home{
    .portada{
      height: 100vh;
      position: relative;
      background-image: url("img/haciendapalacio.jpg");
      background-size: cover;
      background-position: top center;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%;
        margin-top: 0px;
      }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 0px !important;
      }
      .overlay{
        @include overlay();
      }
      .center{
        background: rgba(60, 60, 60, 0.6);
        padding: 30px;
        h2{
          text-align: center;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          @media screen and (min-width: 320px) and (max-width: 640px) {
            line-height: 20px;
          }
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
            line-height: 25px;
          }
        }
        .contenido{
          margin-top: 20px;
          p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: italic;
            color: #ffffff;
            font-size: 18px;
          }
        }
        @include center();
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          @include nocenter();
          width: 100%;
          height: auto;
          overflow: hidden;
          padding-left: 10%;
          padding-right: 10%;
          margin-top: 40px;
        }
      }

    }

    .historia{
      background-image: url("img/restaurante.jpg");
      background-size: cover;
      background-position: center center;
      height: auto;
      position: relative;

      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;

      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .center {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 8%;
        padding-right: 8%;
        .contenido_historia {
          background: rgba(60, 60, 60, 0.6);
          padding: 30px;
          h2 {
            text-align: center;
            color: #ffffff;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'gotham_htfbook';
            line-height: 45px;
            @media screen and (min-width: 320px) and (max-width: 640px) {
              line-height: 20px;
            }
            @media screen and (min-width: 640px) and (max-width: 1000px) {
              font-size: 30px;
              line-height: 25px;
            }
          }
          .contenido {
            margin-top: 20px;
            p {
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              font-style: italic;
              color: #ffffff;
              font-size: 18px;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            @include nocenter();
            width: 100%;
            height: auto;
            overflow: hidden;
            padding-left: 10%;
            padding-right: 10%;
            margin-top: 40px;
          }
        }
      }
    }


    .restaurante{
      background-image: url("img/restaurante.jpg");
      background-size: cover;
      background-position: center center;
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .overlay{
        @include overlay();
      }
      .contenido{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        background: rgba(60, 60, 60, 0.6);
        padding: 30px;
        @media screen and ( max-height: 700px ){
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
          padding-left: 10%;
          padding-right: 10%;
        }
        .titulo{
          text-align: left;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
          }
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
          }
        }
        p{
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          color: #ffffff;
          font-size: 18px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
          }
        }
        .btn_reservar{
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 70%;
          a{
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
          }
          .arrow-right{
            width: 30px;
            float: right;
            margin-top: 10px;
          }
        }
      }
    }
    .organiza{
      background-image: url("img/boda.jpg");
      background-size: cover;
      background-position: center center;
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .overlay{
        @include overlay();
      }
      .contenido{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        background: rgba(60, 60, 60, 0.6);
        padding: 30px;
        @media screen and ( max-height: 700px ){
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
          padding-left: 10%;
          padding-right: 10%;
        }
        .titulo{
          text-align: left;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
          }
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
          }
        }

        p{
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          color: #ffffff;
          font-size: 18px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
          }
        }
        .btn_reservar{
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          border: 2px solid #fff;
          margin: 0 auto;
          text-align: center;
          width: 70%;
          a{
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
          }
          .arrow-right{
            width: 30px;
            float: right;
            margin-top: 10px;
          }
        }
      }
    }
    .contacto{
      background-image: url("img/contacto.jpg");
      background-size: cover;
      background-position: center center;
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .overlay{
        @include overlay();
      }
      .center{
        @include center();
        width: 40%;
        @media screen and ( max-height: 700px ){
          @include nocenter();
          width: 100%;
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          @include nocenter();
          width: 100%;
        }
        .titulo{
          text-align: center;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
          }
        }
        .form_contacto {
          margin-top: 20px;
          p {
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            &.last{
              text-align: center;
              margin-top: 30px;
            }
            input{
              background: rgba(255,255,255,0.7);
              border: none;
            }
            textarea{
              background: rgba(255,255,255,0.7);
              border: none;
            }
          }
          .wpcf7-submit{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid #fff;
            margin: 0 auto;
            text-align: center;
            width: 30%;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            background-color: transparent;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .restaurante_template{
    .portada{
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0px;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0px;
      }

      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 0px !important;
      }

      .slider_item{
        height: 100vh;
        position: absolute;
        width: 100%;
        background-position: center center;
        background-size: cover;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        &.slider_item_show{
          opacity: 1;
          visibility: visible;
        }
      }

      .overlay{
        @include overlay();
      }
      .contenido{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        @media screen and ( max-height: 700px ){
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .descripcion_page {
          background: rgba(60, 60, 60, 0.6);
          padding: 30px;
          .titulo {
            text-align: left;
            color: #ffffff;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'gotham_htfbook';
            line-height: 45px;
            padding-left: 15%;
            padding-right: 15%;
            @media screen and (min-width: 640px) and (max-width: 1000px) {
              font-size: 30px;
            }
            @media screen and (min-width: 320px) and (max-width: 640px) {
              padding-left: 0px !important;
              padding-right: 0px !important;
              text-align: center;
            }
          }
          p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: italic;
            color: #ffffff;
            font-size: 18px;
            padding-left: 15%;
            padding-right: 15%;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              padding-left: 0;
              padding-right: 0;
            }
          }
          .btn_reservar {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid #fff;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            a {
              color: #fff;
              font-size: 24px;
              text-transform: uppercase;
            }
            .arrow-right {
              width: 30px;
              float: right;
              margin-top: 10px;
            }
          }
        }
      }
      .arrow-down {
        position: absolute;
        z-index: 9999;
        bottom: 40px;
        width: 40px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          display: none;
        }
      }
    }
    .menu{
      height: auto;
      position: relative;
      background-color: #ffffff;
      padding: 5%;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 20%;
        padding-left: 20%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 0;
        padding-left: 0;
      }
      .center{
        height: auto;
        overflow: hidden;
        max-width: 65rem;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          height: auto;
          overflow: hidden;
          padding-right: 10%;
          padding-left: 10%;
          @include nocenter();
          width: 100%;
        }
        .titulo{
          text-align: center;
          color: #000;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
          }
        }
        .listado_platillo{
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          .img_platillo {
            padding-right: 0px;
            padding-left: 0px;
            img {
              border-radius: 50%;
              width: 100px;
              height: 100px;
            }
          }
          .titulo_platillo{
            .name_categoria {
              font-family: 'gotham_htfbook';
              color: #666666;
              margin-bottom: 0px;
              font-size: 20px;
              text-transform: uppercase;
              border-bottom: 1px solid #666666;
              margin-top: 20px;
              cursor: pointer;
            }
            .vacio{
              font-family: 'gotham_htfbook';
              color: #666666;
              margin-bottom: 0px;
              font-size: 12px;
              text-transform: uppercase;
              margin-top: 20px;
              text-align: center;
            }
            .more{
              color: #BF2E1B;
              margin-left: 5px;
            }
            .platillos {
              margin-top: 20px;
              ul {
                -webkit-column-count: 2; /* Chrome, Safari, Opera */
                -moz-column-count: 2; /* Firefox */
                column-count: 2;
                -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
                -moz-column-gap: 10px; /* Firefox */
                column-gap: 10px;
                @media screen and (min-width: 320px) and (max-width: 640px) {
                  -webkit-column-count: 1; /* Chrome, Safari, Opera */
                  -moz-column-count: 1; /* Firefox */
                  column-count: 1;
                  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
                  -moz-column-gap: 10px; /* Firefox */
                  column-gap: 10px;
                }
                li {
                  list-style: none;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  cursor: pointer;
                  span {
                    font-family: 'gotham_htfbook';
                    color: #666666;
                    margin-bottom: 0px;
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-top: 20px;
                    margin-left: 10px;
                  }
                  img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;

                  }
                }
              }
            }
          }
        }
      }
    }
    .galeria{
      height: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      overflow: scroll;
      .titulo{
        text-align: center;
        color: #000;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        margin-bottom: 50px;
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
      .itemgal{
        margin-bottom: 30px;
        cursor: pointer;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          margin-bottom: 15px;
        }
      }
    }
    .contacto{
      background-image: url("img/contactorestaurante.jpg");
      background-size: cover;
      background-position: center center;
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 20%;
        padding-left: 20%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%;
      }
      .overlay{
        @include overlay();
      }
      .center{
        @include center();
        width: 40%;
        @media screen and ( max-height: 700px ){
          @include nocenter();
          width: 100%;
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          @include nocenter();
          width: 100%;
        }
        .titulo{
          text-align: center;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
          }
        }
        .form_contacto {
          margin-top: 20px;
          p {
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            &.last{
              text-align: center;
              margin-top: 30px;
            }
            input{
              background: rgba(255,255,255,0.7);
              border: none;
            }
            textarea{
              background: rgba(255,255,255,0.7);
              border: none;
            }
          }
          .wpcf7-submit{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid #fff;
            margin: 0 auto;
            text-align: center;
            width: 30%;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            background-color: transparent;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .evento{
    .portada{
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0px;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0%;
      }

      @media screen and (min-width: 320px) and (max-width: 640px) {
        margin-top: 0px !important;
      }

      .slider_item{
        height: 100vh;
        position: absolute;
        width: 100%;
        background-position: center center;
        background-size: cover;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        &.slider_item_show{
          opacity: 1;
          visibility: visible;
        }
      }

      .overlay{
        @include overlay();
      }
      .contenido{
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        @media screen and ( max-height: 700px ){
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          position: relative;
          top: 0;
          left: 0px;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          height: auto;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .descripcion_page {
          background: rgba(60, 60, 60, 0.6);
          padding: 30px;
          .titulo {
            text-align: left;
            color: #ffffff;
            letter-spacing: 10px;
            text-transform: uppercase;
            font-family: 'gotham_htfbook';
            line-height: 45px;
            padding-left: 15%;
            padding-right: 15%;
            @media screen and (min-width: 320px) and (max-width: 640px) {
              padding-left: 0px;
              padding-right: 0px;
              font-size: 30px;
              text-align: center;
            }
            @media screen and (min-width: 640px) and (max-width: 1000px) {
              font-size: 30px;
              text-align: center;
              padding-left: 0px;
              padding-right: 0px;
            }
          }
          p {
            font-family: 'Lato', sans-serif;
            font-weight: 300px;
            font-style: italic;
            color: #ffffff;
            font-size: 18px;
            padding-left: 15%;
            padding-right: 15%;
            @media screen and (min-width: 320px) and (max-width: 640px) {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
          .btn_reservar {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid #fff;
            margin: 0 auto;
            text-align: center;
            width: 70%;
            a {
              color: #fff;
              font-size: 24px;
              text-transform: uppercase;
            }
            .arrow-right {
              width: 30px;
              float: right;
              margin-top: 10px;
            }
          }
        }
      }
      .arrow-down {
        position: absolute;
        z-index: 9999;
        bottom: 40px;
        width: 40px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          display: none;
        }
      }
    }
    .tipo_eventos{
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .center{
        @include center();
        width: 80%;
        @media screen and ( max-height: 700px ){
          @include nocenter();
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          @include nocenter();
          width: 100%;
          height: auto;
          overflow: hidden;
          padding-left: 10%;
          padding-right: 10%;
        }
        .titulo{
          text-align: center;
          color: #000;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          margin-bottom: 60px;
        }
        .listado_eventos{
          padding-bottom: 40px;
          padding-top: 40px;
          padding-left: 10px;
          padding-right: 10px;
          height: 250px;
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            height: auto;
          }
          img{
            border-radius: 50%;
            width: 150px;
            max-width: 110px;
            min-width: 110px;
            height: 150px;
            max-height: 110px;
            min-height: 110px;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              margin-bottom: 30px;
            }
          }
          .contenido_tipo{
            margin-bottom: 0px;
            padding-left: 0px !important;
            padding-right: 0px !important;
            h4{
              font-family: 'gotham_htfbook';
              color: #666666;
              text-transform: uppercase;
              border-bottom: 1px solid #666666;
              @media screen and (min-width: 640px) and (max-width: 1024px) {
                text-align: center;
                font-size: 18px;
              }
            }
            p{
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              font-style: italic;
              color: #808080;
            }
          }
        }
      }
    }
    .galeria{
      height: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      overflow: scroll;
      .titulo{
        text-align: center;
        color: #000;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        margin-bottom: 50px;
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
      .itemgal{
        margin-bottom: 30px;
        cursor: pointer;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          margin-bottom: 15px;
        }
      }
    }
    .salones{
      height: 100vh;
      overflow: hidden;
      position: relative;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      .titulo_seccion{
        position: absolute;
        z-index: 999;
        text-align: center;
        width: 100%;
        top: 10%;
        color: #fff;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
        @media screen and (min-width: 640px) and (max-width: 1000px) {
          font-size: 30px;
        }
      }
      .salon{
        height: 100vh;
        background-size: cover;
        background-position: center center;
        .overlay{
          @include overlay();
          z-index: 999;
        }
        .contenido_salon{
          position: absolute;
          bottom: 70px;
          width: 50%;
          margin-left: 5%;
          margin-right: 5%;
          padding-left: 2%;
          padding-right: 2%;
          padding-top: 2%;
          padding-bottom: 2%;
          border: 1px solid #fff;
          z-index: 9999;
          background: rgba(60, 60, 60, 0.6);
          @media screen and (min-width: 320px) and (max-width: 640px) {
            width: 90%;
          }
          h3{
            color: #FFFFFF;
            font-family: 'gotham_htfbook';
          }
          p{
            color: #FFFFFF;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-style: italic;
            font-size: 20px;
          }
        }
      }
    }
    .habitaciones{
      .texto_hospedaje{
        padding-right: 20%;
        padding-left: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        h1{
          font-family: 'gotham_htfbook';
          padding-bottom: 10px;
          border-bottom: 1px solid #999999;
          text-transform: uppercase;
        }
        p{
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          color: #808080;
          margin-top: 40px;
        }
      }
      .alcobas{
        position: relative;
        .titulo_seccion{
          position: absolute;
          z-index: 999;
          text-align: center;
          width: 100%;
          top: 10%;
          color: #fff;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
            top: 5%;
          }
          @media screen and (min-width: 320px) and (max-width: 639px) {
            top: 5%;
          }
        }

        .salon{
          height: 100vh;
          background-size: cover;
          background-position: center center;
          .overlay{
            @include overlay();
            z-index: 999;
          }
          .contenido_salon{
            position: absolute;
            bottom: 70px;
            width: 50%;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
            border: 1px solid #fff;
            z-index: 9999;
            background: rgba(60, 60, 60, 0.6);
            @media screen and (min-width: 320px) and (max-width: 640px) {
              width: 90%;
            }
            h3{
              color: #FFFFFF;
              font-family: 'gotham_htfbook';
            }
            p{
              color: #FFFFFF;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              font-style: italic;
              font-size: 20px;
            }
          }
        }
      }
    }
    .contacto{
      background-image: url("img/contactoevento.jpg");
      background-size: cover;
      background-position: center center;
      height: 100vh;
      position: relative;
      @media screen and ( max-height: 700px ){
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 20%;
        padding-left: 20%;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        height: auto;
        overflow: hidden;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        padding-left: 10%;
      }
      .overlay{
        @include overlay();
      }
      .center{
        @include center();
        width: 40%;
        @media screen and ( max-height: 700px ){
          @include nocenter();
          width: 100%;
        }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          @include nocenter();
          width: 100%;
        }
        .titulo{
          text-align: center;
          color: #ffffff;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-family: 'gotham_htfbook';
          line-height: 45px;
          padding-left: 15%;
          padding-right: 15%;
          @media screen and (min-width: 640px) and (max-width: 1000px) {
            font-size: 30px;
          }
        }
        .form_contacto {
          margin-top: 20px;
          p {
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            &.last{
              text-align: center;
              margin-top: 30px;
            }
            input{
              background: rgba(255,255,255,0.7);
              border: none;
            }
            textarea{
              background: rgba(255,255,255,0.7);
              border: none;
            }
          }
          .wpcf7-submit{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid #fff;
            margin: 0 auto;
            text-align: center;
            width: 30%;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            background-color: transparent;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .blog{
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 6%;
    @media screen and (min-width: 320px) and (max-width: 800px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .titulo_blog{
      font-family: 'gotham_htfbook';
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      margin-top: 3%;
      @media screen and (min-width: 320px) and (max-width: 800px) {
        margin-top: 5%;
      }
    }
    .divisor{
      position: absolute;
      background-color: #999999;
      height: 1px;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .articulos{
      margin-top: 7%;
      height: auto;
      overflow: hidden;
      .item_blog{
        margin-bottom: 40px;
        .img_articulo{
          width: 200px;
          height: 200px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        .titulo_articulo{
          font-family: 'gotham_htfbook';
          color: #999999;
          text-transform: uppercase;
          border-bottom: 1px solid #999999;
          margin-left: 10%;
          margin-right: 10%;
        }
        p{
          color: #808080;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-style: italic;
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }
    .paginav{
      .info_page{
        color: #666666;
        font-family: 'gotham_htfbook';
      }
      .number_page{
        padding-left: 15px;
        display: inline;
        .page-numbers{
          color: #666666;
          font-family: 'Lato', sans-serif;
          font-weight: 100;
          &.current{
            color: #BF2E1B;
          }
          &.next{
            color: #999999;
          }
          &.prev{
            color: #999999;
          }
        }
      }
    }
  }

  .ubicacion{
    height: 100vh;
  }

  .infocontacto{
    position: absolute;
    bottom: 0px;
    top: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    padding: 2%;
    color: #FFFFFF;
    width: 30%;
    .contenedor_info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      h4 {
        color: #ffffff;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: 'gotham_htfbook';
      }
      p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-style: italic;
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0px;
      }
    }
  }

  .confirm_suscripcion{
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 6%;
    .titulo_confirmar{
      margin-top: 3%;
      color: #333333;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-family: 'gotham_htfbook';
      line-height: 45px;
      padding-left: 15%;
      padding-right: 15%;
      text-align: center;
    }
    p{
      font-family: 'gotham_htfbook';
      color: #808080;
      font-size: 24px;
      @include center();
    }
  }
}

.detalle_articulo{
  height: auto;
  position: relative;
  overflow: hidden;
  margin-top: 6%;
  margin-bottom: 6%;
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    margin-top: 0px;
  }
  .img_detalle_articulo{
    height: 500px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    .overlay{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.3);
    }
  }
  .contenido_post{
    padding-left: 5%;
    padding-right: 5%;
    .entry-title{
      font-family: 'gotham_htfbook';
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      margin-top: 30px;
    }
    .entry-meta{
      color: #666666;
      text-align: center;
    }
    .entry-content{
      margin-top: 30px;
      p{
        color: #808080;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
      }
      .sd-content{
        text-align: center;
        ul{
          li{
            padding: 15px !important;
            a{
              &:before {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  .titulo_relacionado{
    padding-top: 5%;
    color: #666666;
    font-family: 'gotham_htfbook';
    text-transform: uppercase;
  }
  .divisor{
    position: absolute;
    background-color: #999999;
    height: 1px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .relacionados {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    @media screen and (min-width: 320px) and (max-width: 800px) {
      padding-left: 5%;
      padding-right: 5%;
    }
    .img_relacionado {
      width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .titulo_itemrelacionado{
      font-family: 'gotham_htfbook';
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
      margin-top: 30px;
    }
    p{
      color: #808080;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-style: italic;
      padding-left: 20%;
      padding-right: 20%;
      text-align: center;
    }
  }
}


.suscribete{
  height: auto;
  position: relative;
  overflow: hidden;
  background-image: url("img/imagen-suscribete.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5%;
  .form{
    width: 40%;
    margin: 0 auto;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      width: 100%;
    }
    h1{
      color: #FFFFFF;
      font-family: 'gotham_htfbook';
      text-transform: uppercase;
      text-align: center;
    }
    label{
      color: #FFFFFF;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
    }
    .wysija-submit{
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 5px;
      margin: 0 auto;
      font-size: 20px;
    }
    .mensaje_suscribers{
      text-align: center;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}

.modal_img{
  @include center();
  width: 70%;
  z-index: 99999;
  position: fixed !important;
  display: none;
  padding: 3%;
  @media screen and (min-width: 320px) and (max-width: 640px) {
    width: 90%;
    padding: 5%;

  }
  .closemodalimgplatillo{
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    &:hover{
      color:#BF2E1B;
    }
  }
  .prev{
      position: absolute;
      left: 0px;
  }
  .next{
      position: absolute;
      right: 0px;

  }
}

.overlaytotal{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}

.site-footer{
  padding: 10px;
  .copy{
    p{
      margin-bottom: 0px;
      color: #999999;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      margin-top: 10px;
    }
  }
  .redes{
    ul{
      float: right;
      margin-bottom: 0px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 100%;
        text-align: center;
      }
      li{
        display: inline-block;
        div{
            color: #BF2E1B;
        }
      }
    }
  }
}
