@font-face {
    font-family: 'gotham_htfbook';
    src: url('gothamhtfbook/gothamhtf-book-webfont.eot');
    src: url('gothamhtfbook/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('gothamhtfbook/gothamhtf-book-webfont.woff2') format('woff2'),
    url('gothamhtfbook/gothamhtf-book-webfont.woff') format('woff'),
    url('gothamhtfbook/gothamhtf-book-webfont.ttf') format('truetype'),
    url('gothamhtfbook/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htflight';
    src: url('gothamhtflight/gothamhtf-light-webfont.eot');
    src: url('gothamhtflight/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('gothamhtflight/gothamhtf-light-webfont.woff2') format('woff2'),
    url('gothamhtflight/gothamhtf-light-webfont.woff') format('woff'),
    url('gothamhtflight/gothamhtf-light-webfont.ttf') format('truetype'),
    url('gothamhtflight/gothamhtf-light-webfont.svg#gotham_htflight') format('svg');
    font-weight: normal;
    font-style: normal;

}